/* PATCH: fondo con logo grande y scroll lock fuerte */
body{
  background-color:#000;
  background-image:url("img/logo.png");
  background-repeat:no-repeat;
  background-position:center top;
  background-size:200% auto; /* mucho más grande */
}
html.no-scroll, body.no-scroll{
  overflow:hidden !important;
  height:100% !important;
  position:fixed !important;
  width:100% !important;
}
