
.slider-section {
  width: 100%;
  overflow: hidden;
  height: var(--slider-height, 67px);
  background-color: #111;
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.slider-track {
  display: flex;
  width: calc(300% * 100vw); /* suficiente ancho para contener 3 secuencias */
  animation: scrollInfinite 20s linear infinite;
}

.slide {
  flex: 0 0 auto;
  padding: 0 0.1rem;
}

.slide img {
  height: 100%;
  max-height: var(--slider-height, 67px);
  width: auto;
  object-fit: contain;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
